.App {
  text-align: center;
  display: flex;
  height: 100vh;
}


#calc {
  justify-self: center;
  align-self: center;
  width: 350px;
  height: 400px;
  background-color: gray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1px;
}

#display {
  background: black;
}

#firstRow {
  background: darkgray;
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-colums: 30% 30% 30%;
  /* grid-template-colums: 2fr 1fr 1fr; */
  grid-column-gap: 1px;
}

#ac {
  background: #96260F;
}

#divide {
  background: ligthgray;
}

#secondRow {
  background: black;
  display: grid;
  grid-template-colums: 1fr 1fr 1fr 1fr;
}

#minus {
  background-color: ligthgray;
}

#thirdRow {
  background: darkgray;
}

#fourthRow {
  background: black;
}

#fifthRow {
  background: darkgray;
}

#sixthRow {
  background: black;
}

