.App {
  text-align: center;
  display: grid;
  height: 100vh;
}


#calc {
  justify-self: center;
  align-self: center;
  width: 350px;
  height: 400px;
  background-color: gray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-row-gap: 1px; */
  font-size: 22px;
}

#display {
  background: black;
}

#ac {
  background: #96260F;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

#divide {
  background: gray;
}

#multiply {
  background: gray;
}

#minus {
  background: gray;
}

#plus {
  background: gray;
}

