.App {
  text-align: center;
  display: grid;
  height: 100vh;
}

#calc {
  justify-self: center;
  align-self: center;
  width: 350px;
  height: 400px;
  display: grid;
  grid-template-rows: 13%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  background-color: black;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

#display {
  grid-area: 1 / 1 / span 1 / span 4;
  background: black;
  text-align: right;
  padding-right: 5px;
  line-height: 70px;
  font-size: 22px;
}

#clear {
  grid-area: 2 / 1 / span 1 / span 2;
  background: #96260F;
}

.operations {
  background: gray;
}

.numbers {
  background-color: #61605D;
}

#equals {
  grid-area: 5 / 4 / span 2 / span 1;
  background: #06415C;
  line-height: 130px;
}

#zero {
  grid-area: 6 / 1 / span 1 / span 2;
}

#decimal {
  line-height: 60px;
  vertical-align: bottom;
}

