.App {
  text-align: center;
  display: grid;
  height: 100vh;
}


#calc {
  justify-self: center;
  align-self: center;
  width: 350px;
  height: 400px;
  background-color: gray;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-row-gap: 1px; */
  font-size: 22px;
}

#display {
  background: black;
}

#firstRow {
  background: darkgray;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* grid-column-gap: 1px; */
}

#ac {
  background: #96260F;
}

#divide {
  background: gray;
}

#multiply {
  background: gray;
}

#secondRow {
  background: darkgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#minus {
  background: gray;
}

#thirdRow {
  background: darkgray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#plus {
  background: gray;
}

#fourthRow {
  background: black;
}

#fifthRow {
  background: darkgray;
}

#sixthRow {
  background: black;
}

